{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>News App</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'newsapp/css/bootstrap.min.css' %}" rel="stylesheet">
<!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'newsapp/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'newsapp/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'newsapp/css/owl.css' %}">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}"><h2>Big <em>Fuss</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">News
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#one">About Us</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h2>News is the first draft of history</h2>
            <br>
            <form action="{% url 'index' %}">
           <input type="submit" value="Breaking News" style="text-align: center; height: 80px; width: 200px; background-color: black; color: white; font-size: 20px;border-radius: 25px;">
          </form>
          </div>
        </div>
        
      </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Trending Broadcast</h2>
              
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'newsapp/images/product_02.jpg' %}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>ENTERTAINMENT</h4></a>
              
                <p>News events cannot be controlled, nor can newscasts be mapped out like entertainment shows.</p>
                
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'newsapp/images/product_03.jpg' %}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>SPORTS</h4></a>
              
                <p>The harder the battle the sweeter the victory.</p>
                
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'newsapp/images/product_04.png' %}"alt=""></a>
              <div class="down-content">
                <a href="#"><h4>BUSINESS</h4></a>
            
                <p>In the business world, Bad news is usually good news  &nbsp; -- For somebody else.</p>
                
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'newsapp/images/product_05.jpg' %}"alt=""></a>
              <div class="down-content">
                <a href="#"><h4>HEALTH</h4></a>
               
                <p>Health is much more Dependent on our habits and so the news headlines.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'newsapp/images/product_06.png' %}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>TECHNOLOGY</h4></a>
              
                <p>Updating with Technology is as important as News Awareness.</p>
                
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'newsapp/images/product_01.jpg' %}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>GENERAL</h4></a>
                
                <p>It is the merit of general to impart good news and to conceal the truth.</p>
                
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<section id="one"> 
    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Us</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Looking for the daily updates?</h4>
              <p><a rel="nofollow" target="_parent">Our News</a> &nbsp;is simplest way to stay informed. Provides Summarized news in your language</p>
              <ul class="featured-list">
                <li>An understanding of issues, names, geography, history and the ability to put all of these in perspective for viewers. It comes from the journalist’s commitment to being a student of the news.</li>
                
                <li>Ability to process new information: Sorting, organizing, prioritizing and retaining massive amounts of incoming data.</li>
                <li>Sensitivity to ethical land mines that often litter the field of live breaking news.</li>
          
              </ul>
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="{% static 'newsapp/images/feature.jpg' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


    
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; BIG_FUSS_NEWS.
            
            - Design: <a rel="nofollow noopener" href="#" target="_blank">@Kush @Yashi</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'newsapp/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'newsapp/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'newsapp/js/custom.js' %}"></script>
    <script src="{% static 'newsapp/js/owl.js' %}"></script>
    <script src="{% static 'newsapp/js/slick.js' %}"></script>
    <script src="{% static 'newsapp/js/isotope.js' %}"></script>
    <script src="{% static 'newsapp/js/accordions.js' %}"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>

</html>
